
.list .text, .list .link{
    font-size: 25px;
    font-weight: bold;
    color:rgb(246, 8, 8);
    font-family:'Times New Roman', Times, serif;
}
 
.background{
    background-color: #45396f;
}

#brownies{
    background-color: #965c0b9c
}

.brown{
    color: #943f07ae;
}

.btext{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}